<div class="shout">
  <%= shout.body %>
  <%= shout.sender.username %>
  <%= time_ago_in_words(shout.created_at) %>

  <% if shout.involves?(current_user) %>
    <%= link_to "Delete", [shout.receiver, shout], method: :delete %>
  <% end %>
</div>
