<div class="feed_item">
  <li>
    <%= shout.body %>
    <br>
    <span class="timestamp">
      --<%= link_to shout.sender.username %>
      <%= time_ago_in_words(shout.created_at) %> ago
      <% if shout.involves?(current_user) %>
        <%= button_to "Delete", [shout.receiver, shout], method: :delete %>
      <% end %>
    </span>
  </li>
</div>
