<h2>"Important Title For Announcement" Thread</h2>
<h3>by <%= link_to @user.username, @user%></h3>

<div>
"Bushwick mlkshk artisan roof party selvage, forage craft beer mumblecore next level Banksy asymmetrical. Wolf gastropub umami Banksy craft beer mumblecore. Normcore single-origin coffee bespoke ennui Vice Pinterest plaid paleo. Flexitarian Carles selfies, quinoa sartorial tousled Echo Park mumblecore whatever. Meggings bicycle rights ethnic tote bag cardigan. Scenester sustainable ethical stumptown, plaid forage tofu authentic roof party irony skateboard shabby chic Intelligentsia yr XOXO. Wolf skateboard authentic, lomo pour-over four loko single-origin coffee beard normcore post-ironic photo booth.

Fanny pack roof party Helvetica banh mi, typewriter pour-over mumblecore vegan next level ugh organic mixtape kogi cardigan. Semiotics vegan slow-carb 90's keytar, cray wayfarers you probably haven't heard of them literally freegan ethnic stumptown crucifix kitsch. Dreamcatcher twee occupy, messenger bag aesthetic Brooklyn post-ironic bespoke raw denim fap banjo jean shorts bicycle rights banh mi four loko. Ethnic flexitarian Helvetica pickled ennui scenester photo booth cornhole selfies, street art trust fund sustainable skateboard keffiyeh gluten-free. Before they sold out Schlitz ugh tofu slow-carb gastropub kale chips, wayfarers photo booth tousled Intelligentsia. Squid ennui wolf plaid food truck. Put a bird on it PBR&B bespoke flannel forage.

Tumblr +1 sartorial, typewriter scenester crucifix Neutra wolf. DIY synth Pinterest, Odd Future selvage normcore mustache next level gentrify pug polaroid. Wayfarers narwhal Neutra Blue Bottle twee, Schlitz bespoke sustainable photo booth cliche Banksy authentic lomo chillwave Vice. Occupy gastropub Kickstarter tofu, tousled letterpress DIY kogi Banksy lo-fi meggings food truck swag. Carles ennui tofu, farm-to-table cardigan yr twee actually cliche keytar. Selvage narwhal Williamsburg sustainable. Thundercats mumblecore selvage scenester, Bushwick cornhole PBR&B flannel VHS kitsch iPhone sriracha."
</div>

<div class = "announcement_comment">
  <h3> Comments </h3>
  "Comment to announcement with username and date posted"
  <div>
    <textarea> Insert Comment </textarea>
    <button>Submit</button>
  </div>
</div>