<div class="bookmark_button">
  <% if current_user.bookmarked?(user) %>
    <%= button_to "Remove Bookmark", [user, :bookmark_relationship], method: :delete %>
  <% elsif current_user != user %>
    <%= button_to "Bookmark User", [user, :bookmark_relationship] %>
  <% end %>
</div>
