<h2> <%= "#{@user.username}" %> </h2>

<br>
  <div class = "profile">
    "Insert Your Profile Picture Here"
  </div>

  <div class = "profile">
    "Place Your Banner or Your Featured Showcase Item Here"
  </div>

  <%= link_to "This-User-Showcase-Link- Placeholder", showcase_book_path%>
<br>

<p>
  <div class = "feed">
    <h3> News </h3>
    <% if current_user.id == @user.id %>
    <div>
      <button>Make New Announcement</button>
    </div>
    <%end%>
    "This User's News/Announcement Feed Placeholder"
    <%= link_to "This-User-Announcement-Link- Placeholder", announcement_path %>
  </div>

  <div class = "feed">
    <h3> Shoutbox </h3>
    <div>
    "Dashboard for This User's Shoutbox Feed Placeholder"
    <div>
      <textarea> Insert Shout </textarea>
      <button>Submit</button>
    </div>
</p>

