<h2>Settings</h2>
<div class="settings_tabs">
  <div class="settings_profile_tab">
    <%= link_to "Profile", [current_user, :profile] %>
  </div>
  <div class="settings_account_tab">
    Account
  </div>
  <div class="settings_notification_tab">
    Notifications
  </div>
  <div class="settings_admin_tab">
    <% if current_user.admin %>
      Admin
    <% end %>
  </div>
</div>

<div class="settings_area">
  <% if current_user.admin %>
    <%= render "settings_admin" %>
  <% end %>
</div>
