<h2> My Settings: Generated with JQuery </h2>
<ul>
  <li>Profile Settings: Display Name, Titles, Picture settings</li>
  <li>Account Settings: Password, Verification Settings, Email</li>
  <li>Notification Settings: Announcements, Shouts, Promotions</li>
</ul>
