<h2>Showcase for <%= link_to @user.username, @user%></h2>
<h3>Books</h3> 
<div class = "left_tab">
  <div>
    <%= link_to "Books", showcase_book_path%>
  </div>
  <div>
    <%= link_to "Snippets", snippet_path%>
  </div>
  <div>
    <%= link_to "Partners", partner_path%>
  </div>
</div>

Display the list of books that the person owns or has authored or has
published.
