<ul>
  <li>
    <%= link_to flag.name, flag.flaggable %>
    -- Reported By <%= link_to flag.user.username, flag.user %>, <%= time_ago_in_words(flag.created_at) %> ago
    <% if flag.flaggable_type != "User" %>
      <%= button_to "Delete flagged item", flag.flaggable, method: :delete %>
    <% end %>
  </li>
</ul>
