<h2> Books belonging to <%= link_to @user.username, @user%> </h2>

This page lists the details of a book of a particular ID once it is registered.

<ul>
  <li>Book Name</li>
  <li>Book Author</li>
  <li>Book Genre</li>
  <li>Book Published</li>
  <li>Book Edition</li>
</ul>

<p><b>Description</b>: This book is about blah blah blah.</p>

<h3> Shops that sell this book: </h3>
  <ul>
    <li>Link to Shop 1's user page</li>
    <li>Link to Shop 2's user page</li>
  </ul>

<h3> Comments about this book: </h3>
<div>
  "This book is awesome!" -User, date
  <div>
    <textarea> Insert Comment </textarea>
    <button>Submit</button>
  </div>
</div>
  
