<div class="showcase_section">
  <h3>Snippets</h3>
  <%= button_to "New Snippet", [:new, :snippet], method: :get %>
  <div class="snippet_list">
    <ul>
      <%= render @snippets %>
    </ul>
  </div>
</div>
