<div class="showcase_section">
  <h3>Partners</h3>
  <% if current_user == user %>
    <%= button_to "Add Partner", [:new, :partner_relationship], method: :get %>
  <% end %>
  <div class="partner_list">
    <ul>
      <%= render @partner_relationships, user: @user %>
      <%= render @initiator_relationships, user: @user %>
    </ul>
  </div>
</div>
