<div class="showcase_section">
  <h3>Books</h3>
  <% if user == current_user %>
    <%= link_to "Add new book", [:new, :book] %>
  <% end %>

  <div class="book_list">
    <h4>Books Written by <%= user.username %></h4>
    <ul>
      <%= render user.authored_books %>
    </ul>
  </div>
</div>
