<h3>Books</h3>

<div>
  <h4>Books Written by <%= user.username %></h4>
  <ul>
    <li>Rise of the Iron Legion</li>
    <li>The Black Citadel</li>
    <li>Guns of Iron</li>
  </ul>
</div>

<div>
  <h4>Books owned by <%= user.username %></h4>
  <ul>
    <li>Bloodborn</li>
    <li>Greasejunkies</li>
    <li>Tanks, guns, gore</li>
  </ul>
<div>
