<div class="showcase_section">
  <h3>Books</h3>
  <% if current_user == user %>
    <%= button_to "Add book", [:new, :book], method: :get %>
  <% end %>
  <div class="book_list">
    <ul>
      <%= render user.authored_books %>
    </ul>
  </div>
</div>
