<h3>Books</h3>
<% if user == current_user %>
  <%= link_to "Add new book", [:new, :book] %>
<% end %>

<div>
  <h4>Books Written by <%= user.username %></h4>
  <ul>
    <% user.authored_books.each do |book| %>
      <li><%= link_to book.title, book %></li>
    <% end %>
  </ul>
</div>
