<br>
  <div class = "profile">
    "Insert Your Profile Picture Here"
  </div>

  <div class = "profile">
    "Place Your Banner or Your Featured Showcase Item Here"
  </div>


<br>

<p>
  <div class = "feed">
    <h3> News </h3>
    <div>
      <button>Make New Announcement</button>
    </div>
    "Current User's News/Announcement Feed Placeholder"
  </div>

  <div class = "feed">
    <h3> Shoutbox </h3>
    <div>
    "Dashboard for Current User's Shoutbox Feed Placeholder"
    <div>
      <textarea> Insert Shout </textarea>
      <button>Submit</button>
    </div>
</p>

