.book_shops {
  margin-top: 20px;
  margin-bottom: 20px;
}

.book_info {
  border-style: none none double;
  border-color: grey;
  margin-bottom: 30px;
}

.book_item li {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none none solid;
  border-color: grey;
}
