.partner_item li {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none none solid;
  border-color: grey;
}

.partner_message {
  font-size: 12px;
  font-style: italic;
  font-color: grey;
}

.partner_buttons form {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
