.partner_item li {
  @include span-columns (8 of 12);
  border-style: none none solid;
  border-color: grey;
}

.partner_message {
  font-size: 12px;
  font-style: italic;
  font-color: grey;
}

.add_partner {
  margin-bottom: 20px;
}

.partner_buttons form {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
