.showcase_tabs {
  @include span-columns(2);
  border-style: none double none;
  border-color: grey;
}

.showcase_tabs div {
  margin: 10px;
  border-style: none none double;
  border-color: grey;
}

.showcase_area {
  @include span-columns(9);
  margin: 10px;
}

.showcase_section {
  margin: 20px;
  border-style: none none double;
  border-color: grey;
}
