.snippet_item li {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none none solid;
  border-color: grey;
}

.snippet_source {
  font-color: grey;
  font-style: italic;
  font-size: 12px;
}

.snippet_buttons {
  font-size: 12px;
  font-style: italic;
  font-color: grey;
}

.snippet_buttons form {
  margin-right: 10px;
  margin-top: 5px;
}
