<h3>Notice</h3>
<div class="lock_message">
  This user account has been locked by an administrator for Sastra. This may
  be due to violations of the terms of service, misproper conduct or
  consistent reports by other users. If you feel that this lock was
  unwarranted, please send a message to the administrator at
  sammyfrw@gmail.com.
</div>
